* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body, html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

#main {

}

#header {
    height: 54.5px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    z-index: 99999;
    
}
/* mobile */
.nav-mobile-icon {
    float: right;
    line-height: 22.5px;
    padding: 16px 16px;
    display: none;
}

.nav-mobile-list {
    display: none;
    list-style: none;
    position: absolute;
    top: 54px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    background-color: #fff;
    width: 100%;
    
}

#header .nav-mobile-list a {
    padding: 16px 32px;
    
}
   
/* end mobile */
    
.nav-wrapper {
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
}

.header__home,
#header .nav-list li {
    display: inline-block;
}

#header a {
    text-decoration: none;
    line-height: 22.5px;
    display: block;
    padding: 8px 16px;
    color: #000;
    font-size: 15px;
    letter-spacing: 4px;
}

#header a:hover {
    color: #000;
    background-color: #ccc;

}

#slider {
    position: relative;
    margin-top: 54.5px;
    width: 100%;
    margin-bottom: -29px;
    padding-top: 56.25%;
   
    background: url(../img/slider/architect.jpg) top center/ cover no-repeat;
}

.slider__brand-desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1.5;
    margin: auto;
    
    
}
.slider__brand-desc b {
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    opacity: 0.75;
    font-size: 36px;
}

.slider__brand-desc span {
    font-size: 36px;
    color: #f1f1f1;
    font-weight: 400;
    letter-spacing: 4px;
}
#content {
    width: 100%;
    padding: 8px 16px;
}

#content .section {
   margin: 58px 0 32px;
}

.section__section--title {
    line-height: 36px;
    border-bottom: 1px solid #ccc;
    color: #000;
    font-size: 24px;
    
}
#content .section-about {
    margin-bottom: 15px;
}
#content .project-desc {
   position: relative;
}

.project-img {
    max-width: 100%;
    margin-bottom: 16px;
}
   
.about-img {
    margin-bottom: 10px;
}
.project-desc__name {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 8px;
    line-height: 22.5px;
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    font-size: 15px;
}

#content .about-desc {
    margin: 15px 0 47px;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
}

#content .member-info {
    margin-bottom: 32px;
    font-size: 15px;
    color: #000;
    
}

#content .member-name {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    margin-bottom: 10px;
}

#content .member-function {
    margin: 15px 0;
    opacity: 0.6;
    line-height: 22.5px;
}
    
#content .member-detais {
    margin: 15px 0;
    line-height: 1.5;
}

#content .member-contact {
    display: block;
    padding: 8px 16px;
    background-color: #f1f1f1;
    color: #000;
    line-height: 22.5px;
    text-align: center;
    text-decoration: none;
  
}

#content .member-contact:hover {
    color: #000;
    background-color: #ccc;
   
}

#content .contact-intro {
    color: #000;
    margin-top: 15px;
    font-size: 15px;
    line-height: 22.5px;
}

#content .contact-form {
    width: 100%;
    padding: 8px;
    background-color: #fff;
    margin-bottom: 16px;
    line-height: 22.5px;
    border: 1px solid #ccc;
}

#content .contact-submit {
    color: #fff;
    background: #000;
    font-size: 15px;
    margin: 15px 0;
    padding: 8px 16px;
    border: none;
    line-height: 22.5px;
    cursor: pointer;
}

.map-section {
    position: relative;
    margin-top: 32px;
    margin-bottom: 8px;
}

.map-section img {
    width: 100%;
}
   

#footer {
    height: 84.5px;
    background-color: #000;
    line-height: 52.5px;
    padding: 16px 0;
    font-size: 15px;
    text-align: center;
    color: #fff;
}

#footer a {
    color: #fff;
}
    
